{% extends 'base/base.html'%}

{% block content %}
    {% include 'navbar.html' %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
           <h1>HuerTechno</h1> 

            <p> Proyecto de huerto tecnologico que tiene por objetivo automatizar el riego, la luz, humedad y temperatura,
            además generar un registro para posterior analisis y estudio. Se desea que el sistema sea lo suficientemente 
            flexible para controlar cualquier especie de planta. </p>

            <p> El proyecto se está elaborando con sensores de bajo costo tales como DHT11 para temperatura y humedad relativa, 
            yl-69 para humedad de suelo y una foto celda para la luminosidad; nos obstante, está pensado para instalar cualquier
            tipo de sensor. </p>

            <p> El trabajo consta de dos partes: </p>

            <ul>
                <li> Mediciones </li>
                <li> Control y analisis </li>

            </ul>


            <h3>Mediciones</h3>

            <p>
            En esta etapa el sistema debe ser capaz de recoger los datos mediante los sensores que están controlados por una placa 
            de arduino y son transmitidos a una raspberry donde son almacenados.
            </p>


            <h3> Control y analisis </h3>

            <p>
            En la segunda etapa, se debe poder ingresar al sistema en la raspberry y controlar las variables del sistema, poder regar
            y controlar la luz en forma manual y/o automática.
            </p>

            <p> El proyecto tiene fines educativos, no comerciales y está licenciado bajo software libre </p>
            
            
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
</div>

    
    
    

    
    
{% endblock %}

