{% extends 'base/base.html'%}

{% block content %}
    {% include 'navbar.html' %}

 <div class="container">
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
        </div>
        <div class="col-md-auto">
           <h1>Contacto</h1> 

           <p> Si te ha interesado el proyecto y quieres unirte puedes contactarnos a contacto@contacto.co
            <h3>Git</h3>

                <ul>
                    <li><a href="https://0xacab.org/vladimir.aap/HuerTechno<">HuerTechno</a> </li>
                </ul>
        </div>
        <div class="col col-lg-2">
        </div>
    </div>
</div>

   
    
{% endblock %}

