<div class="jumbotron jumboback">
    <h1 class="display-4">HuerTechno</h1>
    <p class="lead">Proyecto de huerto tecnologico que tiene por objetivo automatizar el riego, la luz, humedad y temperatura, además generar un registro para posterior analisis y estudio. Se desea que el sistema sea lo suficientemente flexible para controlar cualquier especie de planta</p>
    <hr class="my-4">
    <p>El proyecto tiene fines educativos, no comerciales y está licenciado bajo software libre </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">más info +</a>
    </p>
</div>
